.star-radio-button {
  display: block;
}

.create-star {
  position: relative;
}

.create-star .close-star-form {
  font-size: 18px;
  position: absolute;
  right: 0px;
  bottom: 310px;
  color: #ada2a2;
  cursor: pointer;
}
