<h1 class="js-galaxy-title">{{ title }}</h1>

<p class="js-galaxy-description">{{ description }}</p>

<hr>

<div class="row js-galaxy-cards">
  <mat-card class="js-galaxy-card" *ngFor="let constellationCard of constellationsCard">
    <mat-card-title>{{ constellationCard.name }}</mat-card-title>
    <img mat-card-image [src]="constellationCard.logo" [alt]="constellationCard.name">
    <mat-card-content>
      <button class="btn btn-primary" [routerLink]="constellationCard.link">See the constellation</button>
    </mat-card-content>
  </mat-card>
</div>
